@{
    ViewData["Title"] = "Home Page";
}

<section class="sect">
<div class="Halfs">
<div class="center-container marginingtop">
    <div class="image-container">
        <img src="https://www.insidetheiot.com/wp-content/uploads/2020/12/energy-power.jpg" alt="Water" />
        <div class="overlay-text">
            <h1 class="display-4 fw-bolder iheading">Welcome To Ecotrack</h1>
            <h1 class="display-4 iheading">Electricity Analysis Tool for Your Daily Life</h1>
        </div>
    </div>
</div>
</div>

</section>

<section class="ptr1">
    <div class="text-center display-sizing">

        <p>
            A Forum and Data analytical and a utility page where users can create accounts, have insights on your electric and
            exchange tips with other people in the community. This website offers a data analysis insight on what is happening
            on your bill and gives you recommendations. It also allows the user to see the statistical visual. One of the key
            features that will enable this is A.I. integration on the web system as it will be the one that will give insights
            on the analysis where the website will only ask A.I once per Submission of the data.
        </p>

    </div>
</section>